---
import { Image } from 'astro:assets';
import type { SpotifyImage } from '../../libs/spotify';
interface Props {
  title: string;
  description: string;
  img: SpotifyImage[];
}

const { title, description, img } = Astro.props;
---

<div class='flex gap-4'>
  <Image class='rounded-sm' src={img[2].url} alt='' width={64} height={64} />
  <div class='flex flex-col'>
    <p class='font-bold'>{title}</p>
    <p>{description}</p>
  </div>
</div>
