@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 255 255 255;
  --color-secondary: 123 456 789;
}

main {
  @apply px-7 py-32 md:px-20 md:py-40 lg:mx-auto lg:w-[1024px];
}

@layer components {
  .headline {
    @apply text-3xl font-bold leading-tight text-black sm:text-4xl;
  }

  .btn {
    @apply rounded-sm border border-black bg-white px-3 py-1 text-black hover:bg-gray-200 hover:transition-colors;
  }

  .btn-active {
    @apply border border-black bg-brand-yellow-light hover:bg-brand-yellow;
  }
}

@layer utilities {
  .transform-vinyl {
    transform: perspective(400px) rotateY(-25deg) translateX(-16%) scale(0.9);
  }
}
