---
import type { SpotifyPlaylists } from '../../libs/spotify';
import Tile from './Tile.svelte';

interface Props {
  playlists: SpotifyPlaylists[];
}
const { playlists } = Astro.props;
---

<div class='grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-5'>
  {
    playlists.map((playlist) => (
      <Tile
        title={playlist.name}
        img={playlist.images}
        externalUrl={playlist.external_urls.spotify}
      />
    ))
  }
</div>
