---
import Layout from '../layouts/Layout.astro';
import HeadlineViewAll from '../components/HeadlineViewAll.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import { getEntry, getEntries } from 'astro:content';
import PreviewSpotifyIntro from '../components/spotify/PreviewSpotifyIntro.svelte';

const intro = await getEntry('intro', 'content');
const projects = await getEntries(intro.data.projects);
---

<Layout title='Christoph Saile'>
  <div class='flex flex-col gap-20'>
    <div>
      <h1 class='text-4xl font-bold mb-4'>{intro.data.title}</h1>
      <p class='text-xl'>{intro.data.description}</p>
    </div>
    <section class='flex flex-col gap-6'>
      <HeadlineViewAll title='Selected Projects' url='/projects' />
      {projects.map((project: any) => <ProjectPreview {...project.data} />)}
    </section>
    <section class='flex flex-col gap-6'>
      <HeadlineViewAll title='Latest Music' url='/spotify' />
      <PreviewSpotifyIntro client:idle />
    </section>
  </div>
</Layout>
