---
import Layout from '../layouts/layout.astro';
import HeadlineViewAll from '../components/intro/headline-viewl-all.astro';
import ProjectPreview from '../components/intro/project-teaser.astro';
import { getEntry, getEntries } from 'astro:content';
import PreviewLatestMusic from '../components/intro/preview-latest-music.svelte';
import Contact from '../components/intro/contact.astro';

const intro = await getEntry('intro', 'content');
const projects = await getEntries(intro.data.projects);
---

<Layout title='Christoph Saile'>
  <main class='flex flex-col gap-20 md:gap-24'>
    <div class='md:w-3/5'>
      <h1 class='mb-4 text-4xl font-bold leading-snug'>{intro.data.title}</h1>
      <p class='text-xl'>{intro.data.description}</p>
    </div>
    <section class='flex flex-col'>
      <HeadlineViewAll title='Latest Projects' url='/latest-projects' />
      <div class='grid gap-6 md:gap-10 lg:grid-cols-2'>
        {projects.map((project: any) => <ProjectPreview slug={project.slug} {...project.data} />)}
      </div>
    </section>
    <section class='flex flex-col'>
      <HeadlineViewAll title='Latest Music' url='/latest-music' />
      <PreviewLatestMusic client:idle />
    </section>
    <section>
      <Contact />
    </section>
  </main>
</Layout>
