---
import Layout from '../layouts/Layout.astro';
import HeadlineViewAll from '../components/HeadlineViewAll.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import { getEntry, getEntries } from 'astro:content';

const intro = await getEntry('intro', 'content');
const projects = await getEntries(intro.data.projects);
---

<Layout title='Christoph Saile'>
  <h1 class='text-4xl font-bold mb-4'>{intro.data.title}</h1>
  <p class='text-lg'>{intro.data.description}</p>
  <section class='mt-16 flex flex-col gap-8'>
    <HeadlineViewAll title='Selected Projects' url='/projects' />
    {projects.map((project: any) => <ProjectPreview {...project.data} />)}
  </section>
  <section class='mt-16'>
    <HeadlineViewAll title='Latest Music' url='/spotify' />
  </section>
</Layout>
