---
import Layout from '../layouts/Layout.astro';
import HeadlineViewAll from '../components/HeadlineViewAll.astro';
import ProjectPreview from '../components/ProjectPreview.astro';
import { getEntry, getEntries } from 'astro:content';
import PreviewSpotifyIntro from '../components/spotify/PreviewSpotifyIntro.svelte';

const intro = await getEntry('intro', 'content');
const projects = await getEntries(intro.data.projects);
---

<Layout title='Christoph Saile'>
  <main class='flex flex-col gap-20 md:gap-24'>
    <div class='md:w-3/5'>
      <h1 class='text-4xl font-bold mb-4'>{intro.data.title}</h1>
      <p class='text-xl'>{intro.data.description}</p>
    </div>
    <section class='flex flex-col'>
      <HeadlineViewAll title='Latest Projects' url='/latest-projects' />
      <div class='gap-6 md:gap-10 lg:flex lg:gap-16'>
        {projects.map((project: any) => <ProjectPreview {...project.data} />)}
      </div>
    </section>
    <section class='flex flex-col'>
      <HeadlineViewAll title='Latest Music' url='/latest-music' />
      <PreviewSpotifyIntro client:idle />
    </section>
  </main>
</Layout>
