---
import Layout from '../layouts/Layout.astro';
import { getEntry } from 'astro:content';

// projects
const kaesediebe = await getEntry('projects', 'kaesediebe');
const ryno = await getEntry('projects', 'ryno');
---

<Layout title='Christoph Saile'>
  <main class='px-7 py-32'>
    <h1 class='text-4xl font-bold mb-8'>{kaesediebe.data.title}</h1>
    <p class='text-lg'>{kaesediebe.data.description}</p>
  </main>
</Layout>
