---
import ProjectPreview from '../components/intro/project-preview.astro';
import Layout from '../layouts/layout.astro';
import { getCollection, getEntry } from 'astro:content';

const projects = await getCollection('projects');
const content = await getEntry('latest-projects', 'content');
projects.sort((a, b) => b.data.order - a.data.order);
---

<Layout title='Projects - Christoph Saile'>
  <main class='flex flex-col gap-20 md:gap-24'>
    <div class='md:w-3/5'>
      <h1 class='mb-4 text-4xl font-bold'>{content.data.title}</h1>
      <p class='text-xl'>{content.data.description}</p>
    </div>
    <div class='grid grid-cols-1 gap-6 md:grid-cols-2 md:gap-10 lg:gap-16'>
      {
        projects.map((project: any) => (
          <ProjectPreview slug={project.slug} {...project.data} />
        ))
      }
    </div>
  </main>
</Layout>
