---
import ProjectPreview from '../components/intro/project-preview.astro';
import Layout from '../layouts/layout.astro';
import { getCollection, getEntry } from 'astro:content';

const projects = await getCollection('projects');
console.log(projects);
const content = await getEntry('latest-projects', 'content');
---

<Layout title='Projects - Christoph Saile'>
  <main class='flex flex-col gap-20 md:gap-24'>
    <div class='md:w-3/5'>
      <h1 class='text-4xl font-bold mb-4'>{content.data.title}</h1>
      <p class='text-xl'>{content.data.description}</p>
    </div>
    <ul class='grid grid-cols-1 md:grid-cols-2 gap-6 md:gap-10 lg:gap-16'>
      {
        projects.map((project: any) => (
          <ProjectPreview slug={project.slug} {...project.data} />
        ))
      }
    </ul>
  </main>
</Layout>
