---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Menu - Christoph Saile'>
  <ul>
    <li>
      <a href='/'>Home</a>
    </li>
    <li>
      <a href='/projects'>Selected Projects</a>
    </li>
    <li>
      <a href='/spotify'>Spotify</a>
    </li>
  </ul>
</Layout>
