---
const { title, url } = Astro.props;
---

<div class='flex justify-between items-baseline mb-10 md:mb-16'>
  <h2 class='text-2xl font-bold'>{title}</h2>
  <a class='underline' href={url}>view all</a>
</div>
