---

---

<header class='fixed bottom-0 left-0 right-0 p-5 bg-amber-400'>
  <nav class='flex justify-between text-xl'>
    <span class='font-bold font'>Menu</span>
    <a class='font-bold' href='./menu'>+</a>
  </nav>
</header>
