---
import StyledLink from '../styled-link.svelte';
---

<h2 class='mb-10 text-2xl font-bold md:mb-16'>Lets Connect</h2>
<form class='mb-8 md:mb-14'>
  <div class='mb-4 flex flex-wrap gap-x-4 gap-y-6'>
    <div class='flex w-full flex-wrap gap-x-4 gap-y-6'>
      My name is<input
        class='flex-grow border-b border-black px-3 py-1'
        placeholder='John Snow'
        type='text'
        name='name'
      /> and I work for <input
        class='flex-grow border-b border-black px-3 py-1'
        name='company'
        type='text'
        placeholder='La Garde de Nuit'
      />
    </div>
    <div class='flex w-full flex-wrap gap-x-4 gap-y-6'>
      I would like us to talk about <input
        class='flex-grow border-b border-black px-3 py-1'
        placeholder='Daenerys et ses dragons'
        type='text'
        name='topic'
      />
    </div>
    <div class='flex w-full flex-wrap gap-x-4 gap-y-6'>
      Please contact me at<input
        class='flex-grow border-b border-black px-3 py-1'
        placeholder='jon-snow@la-garde-de-nuit.com'
        type='email'
        name='email'
      />or at<input
        class='flex-grow border-b border-black px-3 py-1'
        placeholder='+XX XXXX XXXX XXXX'
        type='tel'
        name='phone'
      />
    </div>
  </div>
  <button class='btn flex items-center gap-1' type='submit'
    >send message
  </button>
</form>
<ul class='flex flex-col gap-6 pt-10 md:py-2 md:pr-12'>
  <li><StyledLink>github</StyledLink></li>
  <li>
    <StyledLink>mastadon</StyledLink>
  </li>
  <li><StyledLink>instagram</StyledLink></li>
  <li>
    <StyledLink>strava</StyledLink>
  </li>
</ul>
