---
import StyledLink from '../styled-link.svelte';

const { title, url } = Astro.props;
---

<div class='mb-10 flex items-baseline justify-between md:mb-16'>
  <h2 class='text-2xl font-bold'>{title}</h2>
  <StyledLink href={url}
    ><span aria-hidden='true'>view all</span><span class='sr-only'>view all {title}</span
    ></StyledLink
  >
</div>
