---
import StyledLink from '../styled-link.svelte';

const { title, description, slug } = Astro.props;
---

<article
  class='flex flex-col gap-3 border border-black p-6 hover:bg-black/10 hover:transition-colors'
>
  <h3 class='text-xl font-bold'>{title}</h3>
  <p class='line-clamp-6'>{description}</p>
  <StyledLink href=`/latest-projects/${slug}`
    ><span aria-hidden='true'>visit page</span><span class='sr-only'>visite page {slug}</span
    ></StyledLink
  >
</article>
