---
const { title, description } = Astro.props;
---

<article class='flex flex-col gap-3'>
  <h3 class='font-bold text-xl'>{title}</h3>
  <p>{description}</p>
  <!-- change this to project link / url  -->
  <a class='underline text-right' href='/latest-projects'>visit page</a>
</article>
