---

---

<header class='fixed bottom-0 left-0 right-0'>
  <nav>
    <a
      href='/menu'
      class='flex justify-between p-5 text-xl font-bold'
      aria-label='Open Menu'
    >
      <span>Menu</span>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='4'
        stroke='currentColor'
        class='size-6'
      >
        <path
          stroke-linecap='round'
          stroke-linejoin='round'
          d='M12 4.5v15m7.5-7.5h-15'></path>
      </svg>
    </a>
  </nav>
</header>
