---

---

<header class='fixed bottom-0 left-0 right-0 p-5 bg-brand-yellow-light'>
  <nav>
    <a href='/menu' class='flex justify-between text-xl font-bold' aria-label='Open Menu'>
      <span>Menu</span>
      <span>+</span>
    </a>
  </nav>
</header>
