---
import Header from './header.astro';
import ColorSwitch from '../components/color-switch.svelte';
import '../styles/main.css';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  header?: boolean;
}

const { title, header = true } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <ColorSwitch client:only='svelte' />
    <slot />
    {header && <Header />}
    <script is:inline>
      function setTheme(document) {
        const getTheme = localStorage.getItem('theme');
        const theme = getTheme
          ? JSON.parse(getTheme).active
          : {
              name: 'white',
              bg: 'bg-white',
              nav: 'bg-brand-yellow-light',
            };
        document.body.classList.add(theme.bg);
        document.querySelector('header')?.classList.add(theme.nav);
      }
      setTheme(document);

      document.addEventListener('astro:before-swap', (ev) => {
        // Pass the incoming document to set the theme on it
        setTheme(ev.newDocument);
      });
    </script>
  </body>
</html>
